/****************** main page setup */

html {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  background-color: black;
}

body {
  display: grid;
  justify-content: center;
}

h1, h2, p {
  color: white;
}

label, legend {
  font-size: 18px;
}

.form {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 6px solid black;
  border-radius: 3px;
}

input:invalid {
  border: 2px solid darkred;
  transition-duration: 300ms;
}

.cursorPointer, #checkboxes, #dropdown {
  cursor: pointer;

}

.boxes {
  border: none;
  padding: 10px 15px;
  text-align: center;
  background-color: gold;
  box-shadow: 0 8px 16px;
}

.boxes:hover {
  background-color: gainsboro;
  transition-duration: 0.5s;
}

#radioButton {
  all: unset;
  border: 1px solid;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: gainsboro;
  cursor: pointer;
  box-shadow: 0 8px 16px;
}

#radioButton:checked {
  transition-duration: 400ms;
  box-shadow: none;
  background-color: gold;
}

#checkboxes {
  all:unset;
  border: 1px solid;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: gainsboro;
  cursor: pointer;
  box-shadow: 0 8px 16px;
  transition-duration: 0.5s;
}

#checkboxes:checked {
  box-shadow: none;
  background-color: gold;
  width: 15px;
  height: 15px;
  clip-path: inset(2px);
}

#checkboxes:hover {
  background-color: gold;
}


#message {
  border: 1px solid;
  text-align: justify;
}

#message:hover {
  box-shadow: none;
}

.submit {
  color: black;
  background-color: gold;
  font-family: "Bebas Neue", cursive;
  border: 1px solid;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 10px 9px;
}

.submit:hover {
  background-color: gainsboro;
  transition-duration: 400ms;
  box-shadow: none;
}

.form2 {
  background-color: greenyellow;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 30px;
  border: 6px solid black;
  border-radius: 3px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.afendevFooter {
  color: white;
}

.afendevLink {
  text-decoration: none;
}

.afendevLink:hover {
  color: gold;
  background-color: black;
}
