/****************** main page setup */

html {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  background-color: cyan;
}

body {
  display: grid;
  justify-content: center;
}

.form {
  background-color: darkorange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 6px solid black;
  border-radius: 3px;
}

input:default {
  border: 2px solid black;
  background-color: white;
}

input:valid {
  border: 2px solid rgb(129, 236, 255);
  background-color: rgb(129, 236, 255);
}

input:invalid {
  border: 2px solid red;
  background-color: rgb(255, 5, 5);
}

.form2 {
  background-color: greenyellow;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 30px;
  border: 6px solid black;
  border-radius: 3px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

li:hover {
  background-color: palegreen;
  border-radius: 3px;
}

.afendevLink {
  text-decoration: none;
}

.afendevLink:hover {
  color: orange;
  background-color: black;
}
